@use "reset";
@use "./variables/global";
@use "themes/normal";
@use "themes/dark";
@use "./fonts.scss";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto";
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
 