@use "reset";
@use "./variables/global";
@use "themes/normal";
@use "themes/dark";
@use "./fonts.scss";

body{
  font-size: var(--font-m);
  font-family:"Montserrat", 'Roboto';
  scrollbar-color:#FFF3D6;
  max-width: 1800px;
  margin: auto;
}
.app {
  background: var(--bg-color);
  color: var(--primary-color);
  // overflow: hidden;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  max-width: var(--component-width-max);
  margin: auto;
}


.sas{
  border: solid 5px #FFFF;
  display: flex;
  flex-wrap: wrap;
  width: 180px; height:180px;

}
