
.Dashboard{
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;
  // height: 100vh;
  width:1234px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom:200px;
  display: flex; 
  justify-content: space-between;
  color:#18181B
};
.banners{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner__food_mini{
  width: 350px; height: 90px;
  display: flex;
  gap: 15px;

  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 12px 12px 6px 10px #201F1F;
  color: #323142;
  padding: 5px 10px 5px 10px;
};

.banner__food_mini_img{
  width:70px; height: 70px;

};

.banner__food_mini_container{
  // gap:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
};

.banner__food_mini_title{
  font-size: 1rem;
};

.banner__food_mini_subtitle{
  margin-top: 9px;
  margin-bottom: 6px;
  font-size: 0.7rem;
};

.banner__food_mini_time{
  position: absolute;
  font-size: 10px;
  opacity: 0.5;
  bottom: 12px; right: 25px;
};




.dashboard__purchases{
width:534px; height:390px;
background-color: #FFFFFF;
display: flex;
flex-direction: column;
border-radius: 30px;
padding: 40px 40px;

}
.purchases{
  display: flex;
  justify-content: space-between;
  height: 20%
  };
.purchases__title{
 font-size: 1.8em;
}
.purchases__select{

}
.purchases_spisok{
list-style: none;
display: flex;
flex-direction: column;
gap:20px;
height: 60%;
}
.purchases__item{
  width:100%;
  border:#323142 1px solid;
  border-radius: 10px;
  height: 40%;

}
.purchases_item_title{

}
.purchases_item_subtitle{

}
.purchases__item{
display: flex;
padding: 10px 20px;
}
.purchases__money{
  background-color: #F2FDF6;
  width:50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.purchases__wallelt{
  background-color: #F4F0FF;
  width:50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.purchases_item_title{

}
.purchases_item_subtitle{

}