.GetForm{
  max-width: 488px;
  min-width: 200px;
  width: 100%;
}
.form__title {
  width: 100%;
  font-size: 5em;
  font-weight: 900;
  color: #dedcef;
  position: relative;
  z-index: 10;
}

.form {
  height: 75px;
  background-color: #dedcef;
  margin-top: 20px;
  border-radius: 16px;
}

.form__fildset {
  border: none;
  z-index: 10;
}

.form__input {
  max-width: 330px;
  width: 100%;
  height: 75px;
  border-radius: 16px;
  background-color: #dedcef;
  border: none;
}

.form__button {
  border: none;
}

@media screen and (max-width: 950px) {
  .form__title {
    display: flex;
    justify-content: center;
    font-size: 42px;
  }
  .form__button{
    font-size: 14px;
  }
}
