.footer {
  width: 100%;
  height: 350px;
  background-color: #eaeaea;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "links links"
    "eatly social";
}

.footer__links {
  grid-area: links;
  display: flex;
  max-width: 1024px;
  width: 100%;
  border-bottom: 1px solid #D7D7D7;
  margin: auto;
  display: grid;
  grid-template-columns: 120px 1fr 120px 120px 130px;
  grid-template-areas: "logo div blog pricing about contact";
  grid-template-rows: 162px 20px;
  align-items: end;
}

.footer__link {
  display: grid;
  justify-content: end;
}
.footer__link_logo {
  grid-area: logo;
}
.footer__link_blog {
  grid-area: blog;
}
.footer__link_pricing {
  grid-area: pricing;
}
.footer__link_about {
  grid-area: about;
}
.footer__link_contact {
  grid-area: contact;
}

.footer__social {
  grid-area: social;
  max-width: calc(1024px / 2);
  width: 100%;
  display: grid;
  align-items: start;
  justify-content: end;
  grid-template-rows: minmax(40px, 80px) minmax(50px, 1fr);
  grid-template-columns: 80px 80px 80px 80px;
  max-width: 80%;
  margin-right: auto;
}
.footer__social_link{
  padding: 17px 26px;
  display: flex;
  justify-content: end;
}

.eatly {
  grid-area: eatly;
  max-width: calc(1024px / 2);
  width: 100%;
  height: 56px;
  display: grid;
  justify-content: start;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 860px) {
.footer{
  grid-template-areas:
  "links social"
  "links social"
  "eatly eatly"
  ;
  grid-template-rows: 150px 150px 1fr;
  grid-template-columns: 1fr 1fr;
  padding-top: 55px;
}

.footer__links {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: flex-start;
  border: none;
}
.footer__link_logo{
  padding-left: 26px;
}

.eatly {
  max-width: 100%;
  display: flex;
  justify-content:center ;
}

}
@media screen and (max-width: 620px) {
  .footer__social{
    grid-template-columns: repeat(4, auto);
    gap:20px
  }
  .footer__social_link{
    padding: 0;
  }
}