.button {
  cursor:pointer;
  color:var(--primary-color);
  font-weight: 500;
  font-size: 1.2em;
}

.primary{
  background-color: var(--button-bg-primary-color);
  color: var( --fronts-color-secondary);
  padding: 18px 25px;
  font-size: 1.1em;
  font-weight: 300;
  border-radius: 10px;
}

.clear {
  padding:0;
  background: none;
  border:none;
  outline: none;
}

.bacgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border:none;
}

.border{
  width: 50%; height: 100%;
  border: solid 1px var( --button-bg-primary-color);
  border-radius: 20px 0 0 20px;
  background-color: var(--button-bg-second-primary-color);
  color: var(--fronts-color-primary)
};

.background{
  width: 50%; height: 100%;
  border:none;
  border-radius: 0 20px 20px 0;
  background-color: var(--button-bg-primary-color);
  color: var(--fronts-color-secondary) 
}

// .square{
//   padding: 0;
// }

.size_m{
  // width: var(--font-line-m);
  // height: var(--font-line-m);
  // font-size: var(--font-size-m);
  width: 200px;
}
.size_l{
  width: var(--font-line-l);
  height: var(--font-line-l);
  font-size: var(--font-size-l);
}
.size_xl{
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font-size: var(--font-size-xl);
}