.Banner{
margin-bottom: 600px;
width: 1280px;
width: 100%;
}
.Banner__rectangle{
  // max-width: 100%;
  height: 334px;
  margin: 120px auto;
  background-color: var(--bg-color-second);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // padding: 0 15.5%
};
.Banner__title{
  font-weight: 600;
  color: var(--fronts-color-secondary);
  font-size: 3em;
  margin: 44px
}
// .Banner__title::after{
//   display: inline-block; 
//   width: 100px; 
//   height: 100px; 
//   background-size: contain; 
//   background-repeat: no-repeat; 
// }
.Banner__img{
  object-fit: cover;
  border: transparent;
  width: clamp(422px, 69%, 887px);
  height:clamp(300px, 200%, 630px) ;

}
.Banner__img::after{
  display: flex;
  margin-top: 700px;
  // content: url('../../../../shared/assets/icons/illustration-bottom.svg');
  background-color: aqua;
  width: 200px;
  height: 200px
}