.banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: var(--component-width-max);
  margin: auto;
  position: relative;
  margin-bottom: 85px;
}
.bunner__text{
  margin-top: 7.5%;
};

.bunner__text_users{
  padding-top: 25px; 
  padding-bottom: 26px;
  font-weight: 500;
  color:#201F1F;
  opacity: 0.3;
  letter-spacing: 2px;
}

.bunner__text_users::before{
  content:'';
  display: inline-block;
  width:60px;
  height:2px;
  background-color:var(--fronts-color-title-primary);
  margin-bottom: 4px;
  margin-right: 25px;
  opacity: 0.3;
}
.bunner__text_title{
  font-size: 5em;
  color: var(--fronts-color-title-primary);
}
.bunner__text_title_world{
  color: var(--fronts-color-title-second );
}
.bunner__text_subtitle{
  padding-top: 25px;
  max-width:85%;
  color: var(--fronts-color-subtitle-primary);
  font-weight: 500;
  line-height: 25px;
  font-size: 1.25em;
  text-align: justify;
};
.bunner__text_subtitle_bonus{
  color: var( --button-bg-primary-color)
}

.bunner__text_buttons{
  margin-top: 75px;
  gap:20px ;
  display: flex;
};

.bunner__text_trustpilot{
  margin-top: 40px;
  width: 301px;
  height: 31px;
}

.banner__food{
  margin-top: 7% ;
  width: 100%;
  height: auto;
};

@media screen and (max-width: 1520px) {
  .banner{
    max-width: calc(100vw * (1350 / 1520));
  }
  .bunner__text_title{
    font-size: 5vw
  }
  .bunner__text_subtitle{
    font-size: 1.3vw;
    padding-top: 15px;
  }
  .bunner__text_users{
    padding-bottom: 10px;
    font-size: 0.9em;
  }
  .bunner__text_buttons{
    margin-top: 50px;
    gap:10;
  }
  .bunner__text_trustpilot{
    margin-top: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .banner{
    max-width: calc(100vw * (955 / 1100));
  }
  .bunner__text_title{
    font-size: 5vw
  }

  .bunner__text_users{
    padding-bottom: 10px;
    font-size: 0.9em;
  }
  .bunner__text_buttons{
    margin-top: 30px;
    gap:10;
  }
  .bunner__text_trustpilot{
    margin-top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .banner{
    display: flex;
    flex-direction: column;
  }
  .bunner__text{
    display: flex;
    justify-content: center;
  }
  .bunner__text_title{
    width: 80%;
    padding-left:20px ;
    font-size: 8vw;
    margin: 0 auto;
  }
  .bunner__text_users{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--fronts-color-title-primary);
    opacity: 1;
    font-weight: 600;
  }
  .bunner__text_users::before{
    opacity: 1;
    height: 1px;
  }
  .bunner__text_subtitle{
    line-height: 30px;
    width: 90%;
    font-size: 2.4vw;
    margin: auto;
    text-align:center;
  }
  .bunner__text_buttons{
    display: flex;
    justify-content: center;
  }
  .bunner__text_trustpilot{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
}