.AuthPage{
  position: relative;
  height: 100vh; width: 100vw; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var( --bg-color-auth);
}
.logo{
  position: absolute;
  top: 32px; left: 48px;
  z-index: 10;
}


.auth__form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth__buttons{
  display: flex;
  flex-direction: row;
  gap:22px
}

.auth__G{
  width: 25px; height: 30px;
}
.auth__apple{
  width: 25px; height:30px
}

.auth__title{
  font-weight: 700;
  margin-bottom: 50px;
  font-size: 2em;
}

.auth__or{
  color: #A6C5C9;
  margin: 35px auto;
  font-weight: 400
}
.auth__user{
  border: none;
  display: flex;
  flex-direction: column;
  width: 400px;
  gap:25px
}

.auth__user_name{
  border: none;
  height: 60px;
  background-color: var(--input-bg-color);
  border-radius: 10px;
  padding: 26px 24px;

}
.auth__user_email{
  border: none;
  height: 60px;
  background-color: var(--input-bg-color);
  border-radius: 10px;
  padding: 26px 24px;
}
.auth__user_password{
  border: none;
  height: 60px;
  background-color: var(--input-bg-color);
  border-radius: 10px;
  padding: 26px 24px;

}

.auth__user_text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
  color:#323142;
  font-size: 1.2em;
}
.auth__user_button{
  margin-top: 20px;
}

.auth__privat{
  position: absolute;
  left: 48px; bottom: 32px;
  font-weight: 400;
  font-size: 0.9em;
  color: #718096;
}
.auth__copyright{
  position: absolute;
  right: 48px; bottom: 32px;
  font-weight: 400;
  font-size: 0.9em;
  color: #718096;
}

.auth_user_text_logIn{
  margin-left: 5px;
}