.TopRestaurants{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--component-width-max);
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 130px;
  color:#323142
};

.restaurant{ 
  display: flex;
  flex-direction: column;
  align-items: center;
};
.restaurant__title{
  font-weight: 700;
  margin-top: 55px;
  font-size: 3em;
  color:#323142
};
.restaurant__title_last{
  color: #6C5FBC ;

};
.restaurant__spisok{
  display: flex;
  gap: 44px;
  width: var(--component-width-max);
  margin-top: 50px;
  padding-top: 30px;
}
.applink{
  font-weight: 500;
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-top: 65px;
}
.arrow{
  // color:#B9B9C3;
  // color: #6C5FBC;
  stroke:#B9B9C3;
}

.applink:hover{

  color:#6C5FBC;

  .arrow:hover{
    stroke:#6C5FBC;
  }
}