.ContactPage {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "img form";
  max-width: var(--component-width-max);
  margin: 100px auto;
  padding: 0 15px 0 0;
}

.contact__container{
  
}

.contact__page {
  grid-area: img;
  position: relative;
  // width: clamp(315px, 50vw, 410px);
  width: 100%;
  height: clamp(585px, 80vw, 800px); 

}
.contact__app_img {
  // width: 371px;
  // height: 625px;
  // margin-left: ;

}
.contact__subtitle {
  color: var(--fronts-color-secondary);
  font-size: 2.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 90px auto 0;
}
.contact__star {
  position: absolute;
  top: 50px;
  left: 50px;
}

.contact__form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
  // max-width: 100%;
  // min-width: 314px;
}
.contact__form_title {
  max-width: 460px;
  font-size: 3em;
  font-weight: 600;
}
.support {
  color: var(--button-bg-primary-color);
}
.contact__form_fieldset {
  width: 500px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 500;
}
.contact__form_name {
  border: 1px solid #6c5fbc;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  padding: 25px;
  font-weight: 500;
}

.contact__form_email {
  border: 1px solid #6c5fbc;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  padding: 25px;
  font-weight: 500;
}
.contact__form_text {
  border: 1px solid #6c5fbc;
  border-radius: 10px;
  width: 100%;
  height: 350px;
  margin-top: 30px;
  padding: 20px;
  font-size: 1.4em;
  font-weight: 500;
}

.contact__form_name,
.contact__form_email,
.contact__form_text {
  color: #6c5fbc;
}

.contact__form_name,
.contact__form_email,
.contact__form_text:focus {
  outline: 1px solid #6c5fbc;
}


// @media screen and (max-width: 1200px) {
  
// }j
