.fromDiscounts{
  height:320px;
  background-color: #5C4EAE;
  margin: 0 auto  100px;
  border-radius: 30px;
  position: relative;
  padding-left: 50px;
  padding-top: 50px;
  grid-area: baner;
}

.sizeM{
  width: 100%;
  max-width: 900px;
  height: 251px;
}

.sizeL{
  max-width: 1350px;
  height:320px;

}
.food{
  width: 280px;
  height:280px;
  position:absolute;
  right: 50px;
  bottom:-80px;
  border: none;
}