.fromDiscounts{
  height:320px;
  background-color: #5C4EAE;
  margin: 0 auto  100px;
  border-radius: 30px;
  position: relative;
  padding-left: 50px;
  padding-top: 50px;
  grid-area: baner;
  position: relative;
}

.mask{
  position: absolute;
  left: 0; top:0;
  width: 100%; height: 100%;
  z-index: 2;
  border-radius: 30px;
}

.sizeM{
  width: 100%;
  max-width: 900px;
  height: 251px;
}

.sizeL{
  max-width: 1350px;
  height:320px;

}
.food{
  width: 280px;
  height:280px;
  position:absolute;
  right: 50px;
  bottom:-80px;
  border: none;
  z-index: 10;
}

@media screen and (max-width:950px) {
  .fromDiscounts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .food{
    position: static;
    height: 170px;
    width: 170px;
    margin-top: 30px;
  }


}