.dishesTop{
 max-width: 100%;
  margin: 115px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  color: #323142;
  gap:68px
}

.dishesTop__title{
  font-size: 3em;
}

.dishesTop__title_word{
  color:#6C5FBC;
}

.dishes{
  display: flex;
  gap:30px;
}
.applink{
  font-weight:500;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

@media screen and (max-width: 1320px) {
  .dishesTop{
    margin: 115px 20px;
  }
  .dishes{
    gap:15px
  }
}

@media screen and (max-width: 1150px) {
  .dishes{
    max-width: 765px;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px
  }
}