.app.dark{
   --bg-color: #070761;
  --inverted-bg-color: #e8e8ea;
   --primary-color: #049604;
   --secondary-color: #04ff04;
   --inverted-primary-color: #190cd4;
   --inverted-secondary-color: #e00404;
}