.app.light{
  --bg-color: #F9F9F9;
  
  --button-bg-primary-color: #6C5FBC;
  --button-bg-second-primary-color: #F3F5F6;
  --button-primary-color: #F9F9F9;
  --button-standart-color: #606060;

  // --button-size-m: 10px;
  --bg-filter: #FFFFFF;

 //fronts-color
  --fronts-color-primary: #6C5FBC;
  --fronts-color-secondary:#F3F5F6;
  --fronts-color-title: #323142;
  --fronts-color-subtitle: #686868;

// border-color
  --border-bottom-color: #ADADAD;


  --primary-color: #323142;
  // --secondary-color: #e00404;
  --inverted-primary-color: #04ff04;
  --inverted-secondary-color: #049604;
}