.app.light{
  --bg-color: #e8e8ea;
  --inverted-bg-color: #070761;

  --primary-color: #190cd4;
  --secondary-color: #e00404;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}