.bunner{
  display: flex;
  padding-top: 95px; padding-left: 60px; padding-bottom: 107px;
};

.bunner__app_img{
  width:340px; height: 569px;
  margin-right: 110px;
  margin-left: auto;
};
.bunner__text_container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  gap:30px;
  padding: 83px;
  margin-right: auto;
};
.bunner__text_title{
  color: #18181B;
  font-size: 2.7em;
  width: 400px;
};

.bunner__text_quality{
color: #6C5FBC;
};

.bunner__text_list{
  color: #676767; 
  font-size: 1em;
  margin-left: 20px 
};
.bunner__text_button{
  width:100px
}
.bunner__vectore{
  position: absolute;
  left: 210px; bottom: 110px;
}

