.bunner{
  display: grid;
  grid-template-columns: 1fr 1fr 150px 1fr 1fr;
  grid-template-areas: 
  "d img t title v"
  "d img t text v";
  grid-template-rows: 1fr auto;
  margin-top: 115px;
  margin-bottom: 120px;
};

.bunner__app_img{
  width:410px; height: 700px;
  margin-top: 20px;
  grid-area: img
};
.bunner__text_title{
  color: #18181B;
  font-size: 4em;
  width: 600px;
  font-weight: 700;
  line-height: 65px;
  grid-area: title;
  padding-top: 150px
};
.bunner__text_container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  gap:30px;
  grid-area: text;
  margin-bottom: 60px;
};

.bunner__text_quality{
color: var(--button-bg-primary-color);
};

.bunner__text_list{
  color: #676767; 
  font-size: 1.3em;
  margin-left: 20px;
  line-height: 30px;
};
.bunner__text_button{
  margin-top:60px;
  margin-left: 10px;
}

.bunner__vectore{
  position: absolute;
  left: 170px; bottom: -50px;
}

