.navbar{
  max-width:  var(--component-width-max);
  width:100%;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 237px 1fr auto;
  grid-template-areas:
  "logo links auth";
  margin: auto; 
  padding: 23px 0px 30px;
  border-bottom: 1px solid #D0D0D0;
  // height: 110px
};

.logo{  
  grid-area: logo;
  // padding-top: 13px
};

.links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area:links;
  font-weight: 700;
  font-size: 1.3rem ;
  gap: 60px;
  padding-top: 7px 
};

.auth{
  display: flex;
  justify-content: end;
  // gap:37px;
  grid-area: auth;
  font-weight: 700;
  padding-top: 10px;
  font-size: 1.3em
};
.navicon{
  grid-area: auth;
  display: flex;
  // align-items: flex-end;
}
// .navicon:hover{
//   transform: ;
// }


@media screen and (max-width: 1490px) {

  .navbar{
        max-width: calc(100vw * (1280 / 1440));
    grid-template-columns: 170px 1fr auto;
    gap:30px
  }
  .links{
    gap: 38px
  }
  .auth{
    gap: 0
  }

}

@media screen and (max-width: 1070px) {
  .navbar{
    max-width: calc(100vw * (1195 / 1380));
    grid-template-columns: auto 1fr auto;
    gap:30px
  }
  .links{
    gap: 15px
  }
}