.restaurant__spisok {
  display: flex;
  width: 100%;
  gap: 44px;
  margin-top: 50px;
  padding-top: 30px;
}
@media screen and (max-width: 1320px) {
  .restaurant__spisok {
    gap: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .restaurant__spisok {
    flex-wrap: wrap;
    justify-content: center;
  }
}
