.comments{
  width: var(--component-width-max);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11.5vh;
  color:#323142;
  overflow-x: auto;
  margin-bottom: 100px;
  overflow: hidden;

}
.comments__title{
  font-size: 3.5em;
  font-weight: 700;
  color:#6C5FBC
}
.comments__say{
  color:#323142
}
.comments__spisok{
  list-style: none;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-top: 7.5vh;
  gap:40px;
  overflow-x: auto;
}
.comments__item{
  background-color: #FFFFFF;
  width:583px;
  padding: 40px 17px 40px 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.comments__user{
  display: grid;
  align-items: center;
  grid-template-columns: 113px 150px 1fr 100px;
  grid-template-rows: 80px
}
.comments_img{
  grid-column-start: 1;
  width: 90px;
  height: 90px;
  border-radius: 50px;
}

.comments__comments{
  display: flex;
  flex-direction: column;
  gap:13px
}

.comments__name{
  grid-column-start: 2;
  font-weight: 500;
  font-size: 1.3em;
}
.comments__time{
  grid-column-start: 2;
  grid-row-start: 2;
  font-weight: 300;
  font-size: 0.9em;
  // margin-top: 40px;
}

.path{
  grid-column-start: 4;
}

.coments__text{
  width: 540px;
  margin-top: 40px;
  font-size: 1.5em;
  opacity: 0.7;
}

.stars{
  margin-top: 45px;
}